Service References/K1ConnectionManager/item9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:KnowledgeoneCorp/Fault/K1ServiceFault" elementFormDefault="qualified" targetNamespace="urn:KnowledgeoneCorp/Fault/K1ServiceFault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="K1ServiceFault">
    <xs:sequence>
      <xs:element name="ErrorNumber" type="xs:int" />
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="K1ServiceFault" nillable="true" type="tns:K1ServiceFault" />
</xs:schema>